{% from "macros.html" import render_input, render_button %}
{% extends "layout.html" %}
{% block title %}-Login{% endblock %}
{% block body %}
<div class="container-sm form-view">
    <h1 class="title">GesVen</h1>
    <div class="container forms mb-3">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#signup" aria-selected="true" role="tab">
                    Unite a GesVen
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#login" aria-selected="false" role="tab" tabindex="-1">
                    Inicia sesión
                </a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active show" id="signup" role="tabpanel">
                <form action="{{url_for('signup')}}" method="POST">
                    <fieldset>
                        {{ render_input('Nombre de usuario','username') }}
                        {{ render_input('Email','email', type='email') }}
                        {{ render_input('Contraseña','password',type='password') }}
                        {{ render_input('Repetir contraseña','re-password',type='password') }}
                        {{ render_button('Registrarse') }}
                    </fieldset>
                </form>
            </div>
            <div class="tab-pane fade" id="login" role="tabpanel">
                <form action="{{url_for('login')}}" method="POST">
                    <fieldset>
                        {{ render_input('Usuario','username')}}
                        {{ render_input('Contraseña','password',type='password')}}
                        {{ render_button('Ingresar')}}
                        <li class="nav-item" style="list-style:none;margin-top:1em">
                            <a class="nav-link" href="#">¿Olvidaste tu contraseña?</a>
                          </li>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}