{% from 'macros.html' import render_input %}
{% extends 'layout.html' %}
{% block title %}-Modificar mis datos{% endblock %}
{% block body %}

<div class="container">
    <legend>Modificar mis datos</legend>
    <form action="{{url_for('checker',option='edit',values=user.ID)}}" method="post">
        <div class="row">
            <div class="col">
                {{render_input('Nombre','NAME',value=user.NAME)}}
            </div>
            <div class="col">
                {{render_input('Apellido','SURNAME',value=user.SURNAME)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{render_input('Fecha de nacimiento','BIRTH_DAY',type='date',value=user.BIRTH_DAY)}}
            </div>
            <div class="col">
                {{render_input('Dirección','ADDRESS',value=user.ADDRESS)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{render_input('Teléfono','PHONE',type='tel',value=user.PHONE)}}
            </div>
            <div class="col">
                {{render_input('Email','EMAIL',type="email",value=user.EMAIL)}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{render_input('PIN','PIN',type='number',value=user.PIN)}}
            </div>
            <div class="col row px-5 py-5">
                <button type="submit" class="btn btn-outline-info text-center">Guardar cambios</button>
            </div>
        </div>
    </form>
</div>
{% endblock body %}