#article {
  background-color: #888;
  padding: .75em 0
}
.pop-view-panel{
  position: relative;
  width: 70%;
  height: 85%;
  background-color: #fff;
  border-radius: 1em;
  padding: .5em;
}
.pop-view{
  background-color: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
}
.pop-view-close{
  top: -200%;
}
.close-modal-view{
  color: #fff;
  padding: 0;
  margin: 0;
  border-radius: 1em;
  background-color: #55a;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: .75;
  box-shadow: none;
  position: absolute;
  top:0;
  right:0;
}

.close-modal-view:hover{
  width: 1.1em;
  height: 1.1em;
  border: .1em solid #fff;
}
.title{
  text-align:center;
  margin-bottom: .5em;
}
.show-articles{
  width: 100%;
}
th .show-articles-cell{
  background-color: #888;
}
.show-articles-cell{
  width: 15em;
  height: 1em;
  border: 1px solid #000;
  overflow-y: auto;
}
