@import url("index.css");
.menu-content{
  width: 100vw;
  height: 3em;
  background-color: #555;
  color: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.work-panel{
  width: 100vw;
  height: auto;
}
.bar-item{
  width: 6em;
  text-align: center;
}
.bar-item:hover{
  color:#fff;
  transition-duration: .15s;
}
.disconnect,.sub-button-menu{
  background-color: rgb(90,75,205);
  box-shadow: .1em .1em .5em #fff;
  padding: .5em;
  border-radius: .5em;
  transition-duration: .2s;
}
.disconnect:hover,.sub-button-menu:hover{
  background-color: rgb(50,65,185);
  color: #fff;
  cursor: pointer;
}

.sub-menu{
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: fit-content;
  background-color: #888;
}
.sub-input-menu{
  width: 40em;
}

.pop-view-panel{
  position: relative;
  width: 70%;
  height: 85%;
  background-color: #fff;
  border-radius: 1em;
  padding: .5em;
}
.pop-view{
  background-color: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: .2s;
}
.pop-view-close{
  top: -200%;
}
.close-modal-view{
  color: #fff;
  padding: 0;
  margin: 0;
  border-radius: 1em;
  background-color: #55a;
  width: 1em;
  height: 1em;
  text-align: center;
  line-height: .75;
  box-shadow: none;
  position: absolute;
  top:0;
  right:0;
}

.close-modal-view:hover{
  width: 1.1em;
  height: 1.1em;
  border: .1em solid #fff;
}
.title{
  text-align:center;
  margin-bottom: .5em;
}
.field-complete{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: .1em 0;
}
.label{
  text-align: right;
  width: 10em;
  margin: 0 .1em;
}
.label+input{
  width: 50em;
}
.label+input:focus-within{
  background-color: rgba(100,100,255,.5);
}
.show-articles{
  width: 100%;
}
th .show-articles-cell{
  background-color: #888;
}
.show-articles-cell{
  width: 15em;
  height: 1em;
  border: 1px solid #000;
  overflow-y: auto;
}
