#config{background-color: #888;}

#show-config{
    height: 100%;
    left: -200%;
}
#show-new{
    height: 100%;
    left: -200%;
}
#show-delete{
    height: 100%;
    left: -200%;
}
#show-balance{
    height: 100%;
    left: -200%;
}

#show-config:target{
    left:0;
}
#show-new:target{
    left:0;
}
#show-delete:target{
    left:0;
}
#show-balance:target{
    left:0;
}
