.error-container{
  width: fit-content;
  background-color: rgba(200,200,200,.5);
  margin: 0 auto;
  padding: 2em 0;
  border-radius: 2em;

}
.page-not-found{margin: 0 0 1em}
.error-image{
  width: 20em;
  height: auto;
  margin-bottom: 1em;
}
.go-back{
  background-color: var(--item-color);
  border-radius: 1em;
  padding: .5em;
  color:#fff;
  transition-duration: .25s;
}
.go-back:hover{
  background-color: var(--hover);
  color: #000;
}

