/* Valores default */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
:root{
  --font: 17px;
  --hover: rgb(178,200,255);
  --title-hover: rgb(31 65 148);
  --hover-a: rgba(198,250,255,.9);
  --item-color: rgb(90,110,230);
}
html{
  scroll-behavior: smooth;
}
*{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-size: var(--font);
  box-sizing: border-box;
  color: #000;
}
h1{
  font-size: 5em;
}
h2{font-size: 2em;}
h3{font-size: 1.5em;}
h4{font-size: .8em;}
p{font-size: 1em;}
a,b,i,input,button{
  font-size: inherit;
  text-decoration: none;
}
ul,li{list-style: none;}
body{
  /*background-color: #111;*/
}
img{
  width: 100%;
  height: 100%;
}
/* End default configure */