#sell{background-color: #888;padding:.75em 0 }

#sell-resume{
    height: 100%;
    left: -200%;
}
#new-sell{
    height: 100%;
    left: -200%;
}
#total-balance{
    height: 100%;
    left: -200%;
}

#sell-resume:target{
    left:0;
}
#new-sell:target{
    left:0;
}
#total-balance:target{
    left:0;
}