{% macro render_input(name,name_input,type='text',value=none,readonly=none,id=none) %}
<div class="form-group">
    {% if name %}<label class="col-form-label mt-4"
        for="{%if id%}{{id}}{%else%}inputDefault{%endif%}">{{name_input}}</label>{% endif %}
    <input type={{type}} class="form-control {% if type=='submit' %}btn btn-primary{% endif %}"
        id="{%if id%}{{id}}{%else%}inputDefault{%endif%}" {% if value %}value="{{value}}" {% endif %} name="{{name}}" {%
        if readonly %}readonly="" {% endif %}>
</div>
{% endmacro %}

{% macro render_informes(title,text,btn=none,active=none) %}
<div id='modal-info' class="modal show" aria-modal="true" role="dialog"
    style="display: block; background-color: rgba(0, 0, 0, .5);">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% if title %}{{title}}{% else %}Informes:{% endif %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    id="modal-info-close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{text}}</p>
            </div>
            {% if btn %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endmacro %}

{% macro render_list() %}
<div class="row">

    <div class="col">
        <label for="users" class="form-label mt-4">Usuarios disponibles</label>
        <select class="form-select" name="user" id="users" autofocus>
            <option value="">--Seleccione usuario--</option>
            {% for c in g.list_checkers %}
            <option value="{{c.NAME}}$${{c.SURNAME}}">{{c.NAME}} {{c.SURNAME}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col">
        {{render_input('pin','Ingrese pin','new-password',id="PIN")}}
    </div>
    <div class="col mt-3">
        {{render_input('submit','','submit')}}
    </div>
    <div class="row">
        <p class="text-center">
            <a class='link' href="#">¿Olvidaste el pin?</a>
        </p>
    </div>
</div>
{% endmacro %}