@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
body{font-size: 18px;}

.title{
  font-size: 4em;
  font-family: 'Oswald', sans-serif;
  color: #222;
  text-shadow: 2px 2px 10px #5aa;
}
.welcome, .welcome-login{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.welcome{
  height: 80vh;
}
.welcome-login{
  flex-wrap: wrap;
  flex-direction: row;
  width: 60vw;
  height: 50vh;
}

.welcome-newuser, .welcome-olduser{
  min-width: 20em;
  max-width: 50%;
  height: 100%;
  min-height: 16em;
  padding: 1vw;
  margin: 1vw;
  border-radius: 3%;
}
.welcome-newuser:focus-within, .welcome-olduser:focus-within,
.welcome-newuser:hover, .welcome-olduser:hover{
  background-color: #444;
  color: #fff;
  transition-duration: .34s;
  box-shadow: 2px 2px 10px #5aa;
}
input{ 
  margin: 2% 0;
  width: 60%; }
.welcome-button{
  margin: 2% 0;
  width: 62%;
  background-color: #55f;
  color: #fff;
}
.welcome-button:active{background-color: #22a;}
.welcome-nopassword>a{
  color: #9af;
}
