{% extends "layout.html" %}
{% block title %}-load{% endblock %}
{% block body %}
<form action="{{url_for('load')}}" method="post" enctype="multipart/form-data">
    <div class="container text-center">
        <div class="form-group">
          <label for="csv-file">Cargar csv</label>
          <input type="file" class="form-control-file" name="csv-file" id="csv-file" placeholder="Cargar tu csv" aria-describedby="fileHelpId">
        <input type="submit" value="Cargar">
        </div>
    </div>
</form>
{% endblock %}
{% block scriptjs %}
<script src="{{url_for('static',filename='js/app.js')}}"></script>
{% endblock %}