{% extends "base_app.html" %}
{% block front_panel %}
<style>
  #article {
    background-color: #888;
    padding: .75em 0
  }
</style>
<div class="sub-menu container">
  <a href="#">
    <p class="sub-button-menu open-modal-view">Agregar artículo</p>
  </a>
  <form action="{{ url_for('search') }}" method='get'>
    <input class="sub-input-menu" type="search" placeholder="Ingrese nombre de artículo, codigo de barras o proveedor"
      autofocus>
    <button class="sub-button-menu" type="submit">Buscar</button>
  </form>
</div>
<div class="pop-view pop-view-close">
  <div class="pop-view-panel">
    <h3 class="close-modal-view sub-button-menu">x</h3>
    <h3 class="title">Agregar artículo</h3>
    <form action="{{url_for('article_new')}}" method="post" class="container">
      {{ render_input('Nombre','name')}}
      {{ render_input('Categoría','category')}}
      {{ render_input('Nombre','name')}}
      {{ render_input('Proveedor','provider')}}
      {{ render_input('SKU','sku')}}
      {{ render_input('Stock','stock')}}
      {{ render_input('Precio','cost','number')}}
      {{ render_input('IVA','iva')}}
      {{ render_input('Ganancia','gain')}}
      {{ render_input('Promo * cantidad','promo')}}
      {{ render_input('Activo','active','checkbox')}}
      {{ render_input('Descripción','description')}}
      <button type="submit" class="sub-button-menu">Agregar</button>
  </div>
  </form>
</div>
</div>
</div>
{% if articles %}
<table class="show-articles">
  <caption>
    <h3 style="text-align: center;">Listando articulos encontrados</h3>
  </caption>
  <tbody>
    <tr>
      {% for column in columns %}
      <th class="show-articles-cell">{{column}}</th>
      {% endfor %}
    </tr>
    {% for article in articles %}
    <tr>
      {% for a in articles[article] %}
      <td class="show-articles-cell">{{a}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',filename='js/app.js') }}"></script>
{% endblock %}