<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="XUA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.png' ) }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/normalize.css' ) }}" type="text/css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/messages.css') }}">
	{% block stylecss %}{% endblock %}
	<script src="https://kit.fontawesome.com/7e1beb9434.js" crossorigin="anonymous"></script>
	<title>GesVen{% block title %}{% endblock %}</title>
</head>

<body>
	{% with messages = get_flashed_messages(with_categories=True) %}
	{% if messages %}
	{% for category,message in messages %}
	<p class="message {{ category }}">{{ message }}</p>
	{% endfor %}
	{% endif %}
	{% endwith %}
	{% macro render_input(name_label,name,type='text') %}
	<div class="field-complete">
	  <label class="label">{{name_label}}</label>
	  <input type="{{type}}" name="{{name}}" placeholder="{{name_label}}">
	</div>
	{% endmacro %}
	{% block content %}
	{% endblock %}
	{% block scripts %}{% endblock %}
</body>

</html>