{% extends "base_app.html" %}
{% block front_panel %}
<style>
  #client{background-color: #888;padding: .75em 0}
</style>
<div class="sub-menu container">
  <a href="#">
    <p class="sub-button-menu open-show-client">Ver clientes</p>
  </a>
  <a href="#">
    <p class="sub-button-menu open-new-client">Alta cliente</p>
  </a>
  <a href="#">
    <p class="sub-button-menu open-delete-client">Baja cliente</p>
  </a>
  <a href="#">
    <p class="sub-button-menu open-show-resume">Detalle venta x cliente</p>
  </a>
  <form action="{{ url_for('search') }}" method='get'>
    <input class="sub-input-menu" type="search" style="width:15em"
      placeholder="Ingrese nombre de cliente" autofocus>
    <button class="sub-button-menu" type="submit">Buscar</button>
  </form>
</div>
{% endblock %}
