{% extends "base_app.html" %}
{% block front_panel %}
<style>
  #config{background-color: #888;}
</style>
<div class="sub-menu container">
  <a href="#">
    <p class="sub-button-menu open-show-config">Modificar mis datos</p>
  </a>
  <a href="#">
    <p class="sub-button-menu open-new-checker">Alta cajero</p>
  </a>
  <a href="#">
    <p class="sub-button-menu open-delete-checker">Baja cajero</p>
  </a>
  <a href="#">
    <p class="sub-button-menu open-show-balance">Balance de  cajas</p>
  </a>
</div>
{% endblock %}
