{% extends "base_app.html" %}
{% block stylecss %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/config.css') }}">
{% endblock %}
{% block front_panel %}

<div class="sub-menu container">
  <a href="#show-config">
    <p class="sub-button-menu open-show-config">Modificar mis datos</p>
  </a>
  <a href="#show-new">
    <p class="sub-button-menu open-new-checker">Alta cajero</p>
  </a>
  <a href="#show-delete">
    <p class="sub-button-menu open-delete-checker">Baja cajero</p>
  </a>
  <a href="#show-balance">
    <p class="sub-button-menu open-show-balance">Balance de cajas</p>
  </a>
</div>
<section class="work-panel">
  <div class="show container" id="show-config">
    <h3 class="subtitle"> Mis datos de negocio </h3>
    {{ render_input('Nombre comercial','fantasy_name') }}
    {{ render_input('Nombre fiscal','fiscal_name') }}
    {{ render_input('Dirección: Calle y número','direction') }}
    {{ render_input('Dirección: CP y Ciudad','city') }}
    {{ render_input('Teléfono','phone','number') }}
    {{ render_input('CUIT','cuit','number') }}
    {{ render_input('Ingresos brutos','iibb','number') }}
    {{ render_input('Percepción IIBB','perception','number') }}
    {{ render_input('Inicio de actividad','init','datetime') }}
    {{ render_input('Rubro','workarea') }}
    {{ render_input('Condición IVA','iva') }}
    <button class="sub-button-menu">Aceptar cambios</button>
  </div>
  <div class="show container" id="show-new">
    <h3 class="subtitle"> Alta a nuevo cajero</h3>
    {{ render_input('Nombres','name') }}
    {{ render_input('Apellidos','surname') }}
    {{ render_input('Dirección: Calle y número','direction') }}
    {{ render_input('Dirección: CP y Ciudad','city') }}
    {{ render_input('Teléfono','phone','number') }}
    {{ render_input('CUIT','cuit','number') }}
    <button class="sub-button-menu">Aceptar cambios</button>
  </div>
  <div class="show container" id="show-delete">
    {% if checkers %}
      {% for check in checkers %}
        <p> {{ check }} </p>
      {% endfor %}
      {% else %}
        <h3 class="subtitle"> No hay cajeros registrados </h3>
    {% endif%}
  </div>
  <div class="show container" id="show-balance">
    {% if today_balances %}
      {% for check in checker.balance%}
      <p> {{check}} </p>
      {% endfor %}
    {% else %}
    <h3 class="subtitle">No se registraron ventas en el día</h3>
    {% endif %}
  </div>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static',filename='js/config.js') }}"></script>
{% endblock %}