{% extends "base.html" %}
{% block stylecss %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}">
{% endblock %}
{% block title %}-Sesion {% endblock %}
{% block content %}
<div class="container front-view">
  <h1 class="title">GesVen</h1>
  <div class="container form-view">
    <form action="{{ url_for('singup') }}" method="post" class="form-container">
      <h2 class="subtitle">Si sos usuario nuevo</h2>
      <input placeholder="Nombre de usuario" type="text" name="username" class="form-item" required minlength="4" autofocus>
			<input placeholder="Correo electrónico" type="text" name="email" class="form-item" required>
			<input placeholder="Contraseña" type="password" name="password" class="form-item" required minlength="8">
			<input placeholder="Confirmar contraseña" type="password" name="confirm-password" class="form-item" required minlength="8">
      <button class="form-button" type="submit">Registrase</button>
    </form>
    <form action="{{ url_for('login') }}" method="post" class="form-container">
      <h2 class="subtitle">Iniciar sesión</h2>
      <input placeholder="Ingresa tu usuario" type="text" name="username" class="form-item" required>
			<input placeholder="Ingresa tu contraseña" type="password" name="password" class="form-item" required>
      <button class="form-button" type="submit">Iniciar sesion</button>
			<a href="/">
				<h4 class="forget-password">¿Olvidaste tu contraseña?</h4>
			</a>
    </form>
    </div>
  </div>
</div>
{% endblock %}
