{% extends "base_app.html" %}
{% block front_panel %}
<style>
  #list{background-color: #888;padding: .75em 0}
</style>
<div class="sub-menu container">
  <a href="#">
    <p class="sub-button-menu open-show-client">Ver clientes</p>
  </a>
  <a href="#">
    <p class="sub-button-menu open-show-article">Ver artículos</p>
  </a>
  <a href="#">
    <p class="sub-button-menu open-show-provider">Ver proveedores</p>
  </a>
  <a href="#">
    <p class="sub-button-menu open-show-sell">Ver ventas del día</p>
  </a>
  
</div>
{% endblock %}
