{% extends "base_app.html" %}
{% block stylecss %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/sell.css')}}">
{% endblock %}
{% block front_panel %}

<div class="sub-menu container">
  <a href="#sell-resume">
    <p class="sub-button-menu open-sell-resume">Ventas del día</p>
  </a>
  <a href="#new-sell">
    <p class="sub-button-menu open-new-sell">Nueva venta</p>
  </a>
  <a href="#total-balance">
    <p class="sub-button-menu open-total-balance">Mis estadísticas</p>
  </a>
</div>
<section class="work-panel">
  <div class="show container" id="sell-resume">
    {% if today_balance %}
      {% for balance in balances %}
        <p> {{balance}} </p>
      {% endfor %}
    {% else %}
      <h3 class="subtitle">No se registraron ventas en el día</h3>
    {% endif %}
  </div>
  <div class="show container" id="new-sell">

  </div>
  <div class="show container" id="total-balance">
    {% if total_balance %}
      {% for sell in total_balance %}
        <p> {{sell}}</p>
      {% endfor %}
    {% else %}
    <h3 class="subtitle">No hay ventas registradas</h3>
    {% endif %}
  </div>
</section>
{% endblock %}