{% from 'macros.html' import  render_open_close_check %}
{% extends "layout.html" %} {% block title %}--Caja{% endblock %} {% block body %}
<div class="container text-center">
    <div class="row text-center">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation"> <a class="nav-link {%if not g.idOpen%}active{%endif%}{%if ocheck%}disabled{%endif%}" data-bs-toggle="tab" href="#open"
                    aria-selected="true" role="tab">Apertura</a> </li>
            <li class="nav-item" role="presentation"> <a class="nav-link {%if g.idOpen%}active{%endif%}{%if not ocheck%}disabled{%endif%}" data-bs-toggle="tab" href="#close"
                    aria-selected="false" role="tab" tabindex="-1">Cierre</a> </li>
            <li class="nav-item" role="presentation"> <a class="nav-link" data-bs-toggle="tab" href="#today"
                    aria-selected="false" role="tab" tabindex="-1">Estadísticas de hoy</a> </li>
            <li class="nav-item" role="presentation"> <a class="nav-link" data-bs-toggle="tab" href="#week"
                    aria-selected="false" role="tab" tabindex="-1">Estadística semanal</a> </li>
            <li class="nav-item" role="presentation"> <a class="nav-link disabled" href="#" aria-selected="false"
                    tabindex="-1" role="tab">Buscar por fecha:</a> </li>
            <li class="nav-item" role="presentation"> <input class="form-control form-control-sm" type="date"
                    id="inputSmall"> </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            {{ render_open_close_check('apertura',ocheck)}}
            {{ render_open_close_check('cierre',ocheck)}}
            <div class="tab-pane fade" id="today" role="tabpanel">
                <p>Panel de estadistica de caja de hoy</p>
            </div>
            <div class="tab-pane fade" id="week" role="tabpanel">
                <p>Panel de estadistica de caja semanal</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scriptjs %}
<script src="{{url_for('static',filename='js/clock.js')}}"></script>
{% endblock %}