{% extends "layout.html" %} {% block title %}-{{title}}{% endblock %}
{% block body %}
<div class="container">
    {% if g.idOpen %}
    <h2>Apertura de caja realizado a las {{openAt}}</h2>
    {% else %}
    <div class="list-group">
        <a href="{{url_for('User',user=g.user,checker=g.check,action='check')}}" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Aún no abriste caja</h5>
                <small>Por favor haga click aquí para abrir caja</small>
            </div>
            <p class="mb-1">Para poder realizar ventas, primero tienes que abrir caja, haciendo click en este panel o en el panel <b>Caja</b></p>
            <small id="open-date">date</small>
            <small id="open-time">00:00:00</small>
        </a>
    </div> {% endif %}
</div>
{% endblock %}
{% block scriptjs %}
    <script src="{{url_for('static',filename='js/clock.js')}}"></script>
{% endblock scriptjs %}